* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ================ Common ================= */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 600;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden; 
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}

/*====================Header================== */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px; 
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ================ Hero ================ */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    bottom: 48px;
    width: 270px;
    right: 0;
    padding:24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF9E8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}



.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top:22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
    
}

.hero .watch-video {
    border: none;
    margin-left: 28px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.hero .stats strong{
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .stats {
    margin-top: 8px;
}

.hero .recent {
    margin-top: 48px;
}

.hero .stats strong:first-of-type {
    padding-left: 0;
}

/* Popular */
.popular {
    margin-top: 200px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 18px;
    line-height:1.67;
    color: #5F5B53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;

}

.popular-top .control-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    /* background-color: blue; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.popular-top .control-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

.popular .course-list {
    margin-top: 55px;
    gap: 30px;
    display: flex;
}

.popular .course-item {
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .rating,
.popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title  a{
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .btn {
    border: none;
    font-size: 1.4rem;
    background: #171100;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
}

.popular .course-item .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Feedback */
.feedback {
    margin-top: 200px;
    padding: 96px 0;
    background: #2E2100;;
}

.feedback-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.feedback-item .info .desc {
    font-size: 1.4rem;
    margin-top: 4px;
    line-height: 1.86;
    color: #BFBCB3;
}

.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#634700;;
}

.feedback-item .dot.active {
    background-color: var(--primary-color);
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
    font-style: italic;
}

/* Features */
.feature {
    margin-top: 200px;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature .images {
    display: flex;
    gap: 0 30px;
}

.feature .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.feature img.lower {
    margin-top: 34px;
}

.feature .content {
    width: 41%;
}

.feature .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.feature .content .cta-btn {
    min-width: 137px;
    margin-top: 32px;
    background: var(--primary-color);
} 

.feature-2 .body {
    flex-direction: row-reverse;
}

.feature-2 .content {
    width: 49%;
}

.feature-2 .images img {
    width: 470px;
    height: 440px;
}

/* ================ Blog ================= */
.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    width: 448px;
    
}

.blog-list {
    margin-top: 55px;
    gap: 30px;
    display: flex;
    overflow: hidden;
}

.blog .item {
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background-color: #fff;
    flex-shrink: 0;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    padding-bottom: 12px;
}

.blog .item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blog .item .title  a{
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn:hover {
    background-color: var(--primary-color);    
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    background: #5F5B53;
    border-radius: 50%;
}

.blog .dot.active {
    background-color: var(--primary-color);
}

/* Footer */
.footer {
    background: #2E2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;;
}

.footer .row .column:first-child {
    width: 35.2%;
}

.footer .row .column{
    width: 21.6%;
}

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .title {
    padding: 0 48px 14px 0;
    display: inline;
    border-bottom: 1px solid #59554B;;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .list a:first-child {
    margin-top: 0;
}

.footer .list strong {
    font-weight: 600;
    color: #FFF;
}

.copyright {
    padding: 28px 0;
    
}

.copyright p {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}